.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 22px;
}

body {
		border-left: 135px solid white;
		border-right: 135px solid white;
		border-top: 50px solid white;
	}

.sideBar{
	padding : 30px;
}

.container-fluid {
  position: relative;
  display: block;
}
